body { margin: 0 auto; padding: 0;  }

body .app { color: #000000; }

body .app .label { color: #000099; font-size: 20px; font-weight: 700; padding-top: 10px; }

body .app .contactsList .contactItem { margin: 30px; }

body .app .contactsList .contactItem .contactImage { width: 40px; height: 40px; padding: 10px 0; }

body .app .contactsList .contactItem .contactEmail { text-decoration: none; }

body .app .contactForm { padding: 20px; display: inline-block; }

body .app .contactForm input { width: 150px; height: 22px; border-radius: 4px; color: #FFFFFF; background-color: #a5d9f7; border: 1px solid black; }

body .app .contactForm button { width: 100px; height: 30px; border-radius: 4px; color: #FFFFFF; background-color: #6666FF; border: 3px solid #0000CC; }
